@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}

@layer components {
  /* カスタムコンポーネントのスタイル */
  .logo {
    @apply h-24 p-6 transition-all duration-300;
    will-change: filter;
  }

  .logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
  }

  .logo.leptos:hover {
    filter: drop-shadow(0 0 2em #a82e20);
  }
}
